 * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
 }

body, html {
   width: 100%;
   height: 100%;
}

 header {
   
    width: 100%;
    display: flex;
    align-items: center;
   justify-content: space-between; 

 }

 header img {
    width: 100%;
    max-width: 300px;
 }

 ul {
   width: 100%;

   display: flex;
   
   text-transform: uppercase;
   background: red;
   border-radius: 10px;
   font-size: 15px;
   list-style: none;
 }

 ul li {
   padding: 32px;
  
 }

 .presentation {
    height: 400px;
    width: 100%;

    background-image: url('../images/cafes-do-brasil-club.jpg');
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;


    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(136, 201, 39);
 }

 .box-slogan {
   width: 300px;
 

   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: center;
    
   text-transform: uppercase;
   border-radius: 20px;
   background-color: chocolate;
 }

 .box-slogan .emphasis {
   font-size: 40px;
 }

 .box-slogan p {
   font-size: 30px;
 }

.content-plans {
   height: 700px;

   position: relative;
   
   
}

.background-cafe {
  width: 100%;
   
   position: absolute;
   display: flex;
   justify-content: space-between;
   
}

.background-cafe img {
   width: 150px;
   
}

.box-plans {
   height: 100%;
   
   position: relative;
  
   margin: 40px;
   display: flex;
   flex-direction: column;
   align-items: center; 
   justify-content: center;
}

.box-plans h2 {
   font-size: 32px;
   text-transform: uppercase;
   
}

.content-plans::before {
   content: '';
   height: 700px;
   width: 10%;
   background-image: url('../images/cafes-esquerda.png');
   background-size: contain;
   background-position: center center;
   background-repeat: no-repeat;
   position: absolute;
   left: 0;
   z-index: -1;
}

.box-plans p {
   max-width: 980px;
   width: 100%;

   margin-top: 32px;
   font-size: 23px;
   text-align: center;


}

.box-plans button {

   margin-top: 45px;
   padding: 14px 32px;
   font-size: 16px;
   color: #fff;
   text-transform: uppercase;
   border-radius: 20px;
   background-color: red;
   border: none;
}

.box-plans button:hover {
   cursor: pointer;
}

.content-plans::after {
   content: '';
   height: 700px;
   width: 10%;
   background-image: url('../images/cafe-direita.png');
   background-size: contain;
   background-position: center center;
   background-repeat: no-repeat;
   position: absolute;
   right: 0;
   bottom: 0;
   z-index: -1;
}

.content-farms {
   display: flex;
   flex-direction: column;
   align-items: center;
}

.box-about-farms {
   background-color: #660000;

   text-align: center;
   display: flex;
   flex-direction: column;
   align-items: center;
   color: #e0d3be;
   
}

.box-about-farms h2 {
   width: 100%;
   max-width: 300px;
   display: inline-block;
   font-size: 35px;
   font-weight: 500;
  
   margin: 70px 0px 32px 0px;
   
}

.box-about-farms p {
   width: 100%;
   max-width: 350px;
   font-size: 20px;
   font-weight: 300;
   text-align: center;

   margin: 32px 0px;
}

.box-about-farms button {
   padding: 10px 16px;
   margin: 16px;
   border-radius: 20px;
   border: none;
   text-transform: uppercase;
   color: #660000;
}

.step-by-step {
   display: flex;
   justify-content: center;
   flex-wrap: wrap;
   margin: 40px  32px 48px 32px;
   filter: brightness(150%) contrast(100%) saturate(100%) blur(0) hue-rotate(37deg);
}

.step-by-step div {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.step-by-step div p {
 
   margin: 32px;
}

.content-operation{


   text-align: center;
}

.content-operation > h2 {
   font-size: 32px;
   font-weight: 500;

   margin-top: 80px;
   text-transform: uppercase;
}

.content-operation > p {
   font-size: 20px;
   color: #7a7a7a;
   text-transform: uppercase;
   

   margin-top: 32px;
}



.box-operation {
   width: 100%;

   display: flex;
   justify-content: center;
   flex-wrap: wrap;
   margin-top: 50px;
}

.standard {
   width: 100%;
   max-width: 250px;

   display: flex;
   flex-direction: column;
   align-items: center;

   margin: 25px;


}

.standard img {
   width: 100px;
}

.standard h3 {

   font-size: 25px;
   font-size: 700;

   text-transform: uppercase;
}

.standard p {
   width: 100%;
   max-width: 230px;


   margin-top: 16px;
  
   font-size: 20px;
   opacity: 0.7;
}

.content-story {
   display: flex;
   justify-content: center;
}

.our-story {
   width: 100%;

   display: flex;
   justify-content: center;

  
   margin-top: 150px;
   padding: 0px 16px;

   margin-bottom: 32px;
}

.our-story img {
   width: 100%;
   max-width: 900px;

   height: 400px;


   margin: 0px 10px:

}

.box-story {
   width: 100%;
   max-width: 900px;

   

   text-align: left;

   margin-left: 70px;
}

.box-story p {
   width: 100%;
   max-width: 750px;

   font-size: 20px;

   margin: 40px 0px 16px 0px;  
}

.box-story h3 {
   width: 100%;
   max-width: 700px;
   
   margin-top: 68px;
   
   text-align: left;
   line-height: 70px;

   font-size: 50px;
}

.box-story button {
   padding: 12px 20px;
   border-radius: 20px;
   border: none;

   margin: 32px 0px 64px 0px;

   background-image: linear-gradient(to top, #fff, #E0D3BE);

}

.box-story button a:hover {
   color: #fff; 
}

.box-story button a {
   text-transform: uppercase;
   text-decoration: none;

   color: #000;

   font-size: 13px;
}

.separation {
   width: 70px;
   height: 2px;
   border: none;

   margin: 0 auto;
   background-color: #fd583f;

   
}

.content-blog {

   display: flex;
   flex-direction: column;
   align-items: center;

   text-align:center;
   
   position: relative;
}

.content-blog h2 {
   font-size: 32px;

   margin: 32px 0px 20px 0px;
}

.content-blog p {
   max-width: 300px;
   
}

.boxs-blog {
   display: flex;
   justify-content: center;

   border-radius: 10px;
}


.box-standard {
   width: 100%;
   max-width: 400px;

   display: flex;
   flex-direction: column;
   align-items: center;

   margin: 32px 16px;


   box-shadow: 1px 1px 10px rgb(120, 118, 118)
   
}

.box-standard h3 {
   width: 100%;

   margin: 32px 0px;

   font-size: 22px;
}

.box-standard p {  

   
   font-size: 18px;

   padding-bottom: 32px;

   text-align: left;
}

.box-standard a {
   text-decoration: none;
   margin: 0px;


   color: #FD583F;
}

.box-standard img {
   width: 100%;
   height: 200px;

}

.box-cup-of-coffee {
   width: 100%;
   height: 220px;
   
   background-image: url("../images/cup-of-coffee.jpg");
   background-size: cover;
   background-position: center center;
   background-repeat: no-repeat;
   
}

.box-coffee-beans {
   width: 100%;
   height: 220px;


   background-image: url("../images/coffee-beans.jpg");
   background-size: cover;
   background-position: center;
   background-repeat: no-repeat;
} 

.box-robot-serves {
   width: 100%;
   height: 220px;


   background-image: url("../images/robot-serves.png");
   background-size: cover;
   background-position: center;
   background-repeat: no-repeat;

}

.content-robot-serves hr {
   margin-top: 26px;
}

.content-robot-serves {
   position: relative; 
}

.box-texts-blog {

   width: 80%;

   text-align: left;
   margin-bottom: 32px;
}

.box-standard hr {
   width: 100%;
}

.descripition {
   height: 45px;

   padding: 10px;

   display: flex;
   align-items: center;
   justify-content: center;
}

.descripition-robot-serves {
   width: 100%;
   height: 45px;



   position: absolute;
   bottom: 0;
}

.comentarios::before{
   content: '·';
   margin: 0px 5px;
}

.box-see-plus {
   width: 100%;
   height: 250px;

   /* display: flex;
   flex-direction: column;
   justify-content: center; */

   background-image: url("../images/saco-de-cafe-removebg-preview.png");
   background-repeat: no-repeat;

   /* background: red; */

}

.box-see-plus button {
   padding: 15px 20px;
   margin-top: 32px;

   text-transform: uppercase;

   border: none;
   border-radius: 40px;


   background-image: linear-gradient( to bottom, #25EFFF, #1AB3BF);

}

footer {
   background-color: #652d2d;
}

.content-farms-moth {
   
   display: flex;
   justify-content: center;

   color: #fff;
   background: red;
}

.content-farms-moth .box-farms {
   text-align: center;

}

.box-farms .farms-moth {
   display: flex;
   flex-direction: column;
   align-items: center;
}

.box-farms .farms-moth h3 {
   font-size: 20px;
   font-weight: 300;
   text-transform: uppercase;

   margin: 100px 0px 35px 0px;
} 

.box-farms .farms-moth p {
   width: 100%;
   max-width: 250px;

   font-size: 18px;

   margin-bottom: 35px;

}

.box-farms .farms-moth button {
   padding: 5px 5px;
   border-radius: 40px;
   border: none;

   text-transform: uppercase;
}



