 * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
 }

body, html {
   width: 100%;
   height: 100%;
}

 header {
   
    width: 100%;
    display: flex;
    align-items: center;
   justify-content: space-between; 

   position: relative;

 }

.box-logo {
   width: 60%;
   max-width: 300px;

}

.box-logo img{
   width: 100%;
}

 .mobile-menu {
   display: none;
   cursor: pointer;

   margin-right: 32px;


 }

.mobile-menu div {
   width: 32px;
   height: 2px;

   margin: 8px;

   background: #000;
}


 ul {
   width: 100%;
   max-width: 1000px;
   display: flex;
   align-items: center;
   
   text-transform: uppercase;

   border-radius: 10px;

   margin: 0px 16px; 

   list-style: none;
 }

 ul li {
   padding: 32px;
   font-size: 13px;

  
  
 }

 ul li:hover {
    color: #fd583f;
    cursor: pointer;
 }

 .presentation {
   width: 100%;
   height: 100%;
   display: flex;
   justify-content: center;
   align-items: center;

 }

 .presentation picture {
    width: 100%;
    height: 100%;
    background: blue;
 }

 .presentation picture img {
    width: 100%;
    height: 100%;
 }

.content-plans {

   height: 700px;
   position: relative;


   
   
}

.content-plans::before {
   content: '';
   height: 700px;
   width: 10%;
   background-image: url('../images/cafes-esquerda.png');
   background-size: contain;
   background-position: center center;
   background-repeat: no-repeat;
   position: absolute;
   left: 0;
   z-index: -1;
}


.content-plans::after {
   content: '';
   height: 700px;
   width: 10%;
   background-image: url('../images/cafe-direita.png');
   background-size: contain;
   background-position: center center;
   background-repeat: no-repeat;
   position: absolute;
   right: 0;
   bottom: 0;
   z-index: -1;
}



.box-plans {
   height: 100%;
   
   position: relative;
  
   margin: 40px;
   display: flex;
   flex-direction: column;
   align-items: center; 
   justify-content: center;

   font-family: 'Montserrat', sans-serif;
   text-align: center;
}

.box-plans h2 {
   font-size: 32px;
   font-family: 'Montserrat', sans-serif;

   text-transform: uppercase;
   
}

.box-plans p { 

   max-width: 980px;
   width: 100%;

   margin-top: 32px;
   font-size: 23px;
   text-align: center;

   font-size: 17px;
   font-weight: 400;


}

.box-plans button {

   margin-top: 45px;
   padding: 14px 32px;
   font-size: 16px;
   color: #fff;
   text-transform: uppercase;
   border-radius: 20px;
   background-color: red;
   border: none;
}

.box-plans button:hover {
   cursor: pointer;
}


.content-farms {
   display: flex;
   flex-direction: column;
   align-items: center;
}

.box-about-farms {
   background-color: #660000;

   text-align: center;
   display: flex;
   flex-direction: column;
   align-items: center;
   color: #e0d3be;
   
}

.box-about-farms h2 {
   width: 100%;
   max-width: 400px;
   display: inline-block;

   font-family: 'Special Elite', cursive;
   font-size: 35px;
   font-weight: 500;
   
   line-height: 60px; 
  
   margin: 70px 0px 32px 0px;
   
}

.box-about-farms p {
   width: 100%;
   max-width: 350px;
   font-size: 20px;
   font-weight: 300;
  
   

   margin: 32px 0px;
}

.box-about-farms button {
   padding: 10px 16px;
   margin: 16px;
   border-radius: 20px;
   border: none;
   text-transform: uppercase;
   color: #660000;
}

.step-by-step {
   display: flex;
   justify-content: center;
   flex-wrap: wrap;
   margin: 40px  32px 48px 32px;
   filter: brightness(150%) contrast(100%) saturate(100%) blur(0) hue-rotate(37deg);
}

.step-by-step div {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.step-by-step div p {
 
   margin: 32px;
}

.content-operation{
   text-align: center;
}

.content-operation > h2 {
   font-size: 38px;
   font-weight: 500;
   font-family: "Special Elite",Sans-serif;

   margin-top: 80px;
   text-transform: uppercase;
}

.content-operation > p {
   color: #7a7a7a;
   opacity: .7;
   text-transform: uppercase;

   font-size: 23px;
   font-family: "Special Elite",Sans-serif;
   font-weight: 400;
   

   margin-top: 32px;
}



.box-operation {
   width: 100%;

   display: flex;
   justify-content: center;
   flex-wrap: wrap;
   margin-top: 50px;
}

.standard {
   width: 100%;
   max-width: 280px;

   display: flex;
   flex-direction: column;
   align-items: center;

   padding: 0px 16px;
   margin: 25px;


}

.standard img {
   width: 100px;
}

.standard h3 {
   font-family: "Special Elite",Sans-serif;
   font-size: 25px;
   font-size: 700;

   text-transform: uppercase;
}

.standard p {
   width: 100%;
   max-width: 250px; 


   margin-top: 16px;
  
   font-size: 18px;
   opacity: 0.7;
}

.content-story {
   display: flex;
   justify-content: center;
}

.our-story {
   width: 100%;

   display: flex;
   justify-content: center;

  
   margin-top: 150px;


   margin-bottom: 32px;

}

.our-story .box-story-img {
   width: 100%;
   max-width: 900px;



   margin: 0px 10px:

}
.our-story .box-story-img img {
   width: 100%;
}

.box-story {
   width: 100%;
   max-width: 900px;

   

   text-align: left;

   margin-left: 70px;
}

.box-story p {
   width: 100%;
   max-width: 750px;

   font-size: 20px;

   color: #7a7a7a; 

   margin: 40px 0px 16px 0px;  
}

.box-story h3 {
   width: 100%;
   max-width: 900px;
   
   margin-top: 68px;
   
   text-align: left;
   line-height: 70px;

   font-size: 42px;
   font-family: "Special Elite",Sans-serif;
   font-weight: 400;
   
}

.box-story button {
   padding: 12px 20px;
   border-radius: 20px;
   border: none;

   margin: 32px 0px 64px 0px;

   background-image: linear-gradient(to top, #fff, #E0D3BE);

}

.box-story button a:hover {
   color: #fff; 
}

.box-story button a {
   text-transform: uppercase;
   text-decoration: none;

   color: #000;

   font-size: 13px;
}

.separation {
   width: 70px;
   height: 2px;
   border: none;

   margin: 0 auto;
   background-color: #fd583f;

   
}

.content-blog {

   display: flex;
   flex-direction: column;
   align-items: center;

   text-align:center;
   
   position: relative;
}

.content-blog h2 {
   font-size: 32px;
   font-family: "Special Elite",Sans-serif;
 

   margin: 32px 0px 20px 0px;
}

.content-blog p {
   width: 100%;
   max-width: 500px;

   line-height: 25px;

   
   font-style: italic; 
   font-size: 18px;

   opacity: .7;

   
}

.boxs-blog {
   width: 100%;

   display: flex;
   justify-content: center;
   flex-wrap: wrap;
   border-radius: 10px;
}


.box-standard {
   width: 100%;
   max-width: 400px;

   display: flex;
   flex-direction: column;
   align-items: center;

   margin: 32px 16px;


   box-shadow: 1px 1px 10px rgb(120, 118, 118)
   
}

.box-standard h3 {
   width: 100%;

   color: #652d2d;

   margin: 32px 0px;

   font-size: 22px;
   
}

.box-standard p {  

   
   font-size: 18px;

   padding-bottom: 32px;

   text-align: left;
}

.box-standard a {
   text-decoration: none;
   margin: 0px;


   color: #FD583F;
}

.box-standard img {
   width: 100%;
   height: 200px;

}

.box-cup-of-coffee {
   width: 100%;
   height: 220px;
   
   background-image: url("../images/cup-of-coffee.jpg");
   background-size: cover;
   background-position: center center;
   background-repeat: no-repeat;
   
}

.box-coffee-beans {
   width: 100%;
   height: 220px;


   background-image: url("../images/coffee-beans.jpg");
   background-size: cover;
   background-position: center;
   background-repeat: no-repeat;
} 

.box-robot-serves {
   width: 100%;
   height: 220px;


   background-image: url("../images/robot-serves.png");
   background-size: cover;
   background-position: center;
   background-repeat: no-repeat;

}

.content-robot-serves hr {
   margin-top: 26px;
}

.content-robot-serves {
   position: relative; 
}

.box-texts-blog {

   width: 80%;

   text-align: left;
   margin-bottom: 32px;
}

.box-standard hr {
   width: 100%;
}

.descripition {
   height: 45px;

   padding: 10px;

   display: flex;
   align-items: center;
   justify-content: center;
}

.descripition-robot-serves {
   width: 100%;
   height: 45px;



   position: absolute;
   bottom: 0;
}

.comentarios::before{
   content: '·';
   margin: 0px 5px;
}

.box-see-plus {
   width: 100%;
   height: 250px;

   /* display: flex;
   flex-direction: column;
   justify-content: center; */

   background-image: url("../images/saco-de-cafe-removebg-preview.png");
   background-repeat: no-repeat;

   /* background: red; */

}

.box-see-plus button {
   padding: 15px 20px;
   margin-top: 32px;

   text-transform: uppercase;

   border: none;
   border-radius: 40px;


   background-image: linear-gradient( to bottom, #25EFFF, #1AB3BF);

}

.box-see-plus a {
   text-decoration: none;
}

.box-see-plus button a:hover {
   color: #fff; 
}

footer {
   width: 100%;

   margin-top: 32px;
   padding: 10px;

   background-color: #652d2d;
}

.content-farms-moth {
   width: 100%;

   display: flex;
   justify-content: center;
   flex-wrap: wrap;

   color: #fff;

}

.content-farms-moth .box-farms {
   text-align: center;
   margin: 0px 64px;

}

.box-farms .farms-moth {
   display: flex;
   flex-direction: column;
   align-items: center;
}

.box-farms .farms-moth h3 {
   font-size: 20px;
   font-weight: 300;
   text-transform: uppercase;

   margin: 100px 0px 35px 0px;
} 

.box-farms .farms-moth p {
   width: 100%;
   max-width: 250px;

   font-size: 18px;

   margin-bottom: 35px;

   opacity: .6;

}

.box-farms .farms-moth button {
   padding: 8px 8px;
   border-radius: 40px;
   border: none;

   text-transform: uppercase;
}

.box-farms .farms-moth a {
   text-decoration: none;

   font-size: 12px;
   color: #652d2d;
}



.image-left {
   width: 100%;
   max-width: 120px;

   margin-top: 64px;


}

.image-left img {
   width: 100%;
}

.image-right {
   width: 100%;
   max-width: 150px;

   margin-top: 64px;

}

.image-right img {
   width: 100%;
}

.contact {
   margin-top: 32px;

   font-size: 15px;
}

.contact p:nth-child(1) {
   opacity: .5;
}

.contact p {
   margin: 5px 0px;
}

.contact a {
   color: #fff;
   text-decoration: none;
   margin-top: 5px;
}

@media (max-width: 1250px) {
   nav {
      display: none;
   }

   .mobile-menu {
      display: block;
   }
}


@media (max-width: 1310px) {

   .our-story {
      

      display: flex;
      flex-wrap: wrap;
      justify-content: center;

   }


   .box-story {
      max-width: 900px;

      display: flex;
      flex-direction: column;
      align-items: center;

      margin: 0;
      padding: 0px 15px;

     text-align: center;
 
   }
   
   .box-story h3 {
      
      text-align: center;
      font-size: 45px;

   
   }

   .box-story p {
      text-align: center;
   }
}

@media (max-width: 900px) {
   .box-story h3 {
      font-size: 40px; 
   }
}

@media (max-width:530px) {
   .box-story h3 {
      font-size: 30px;
   }

   .box-standard {
      width: 80%;
   }

   .content-plans {
      height: 400px;
   }

   .our-story {
      margin: 35px 0px;

   }

   .box-standard p {
      font-size: 15px;
   }

}